/* *{
    border: .5px solid red;
} */

body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
}

button {
    background-color: #3882f6;
    border-radius: 10px;
}

.header,
.footer{
    background-color: #1F2937;
    display: flex;
    padding: 16px;
}

.header {
    justify-content: space-between;
}

.footer {
    justify-content: center;
    color: #E5E7EB
}

ul {
    list-style: none;
    gap: 8px;
}

.header-links-right {
    display: flex;
    
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.herocontainer{
    background-color: #1F2937;
    padding: 48px;
}

.maintext {
    font-size: 48px;
    font-weight: 900;
    background-color: #1F2937;
    color:#F9FAF8;
    display: flex;
    align-items: center;
}

.mainsubtext {
    font-size: 18px;
    background-color: #1F2937;
    color: #E5E7EB
    
}

.infocontainer{
    display: flex;
    flex-wrap: wrap;
    padding: 32px;
    margin-bottom: 16px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.information{
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    /* text-align: center;
    align-items: center; */
}

.cardcontainer {
    display: flex;
}

.infocard{
    border: 2px solid #3882f6;
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    margin: 16px;
    border-radius: 10px;
}

.inspiring-quote{
    display: flex;
    flex-wrap: wrap;
    background-color: #E5E7EB;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
}

.call-to-action {
    background-color: #3882f6;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 5px;
    margin: 48px;
    flex-wrap: wrap;
}

.calltext{
    color: #F9FAF8;
    font-weight: 700;
}

.callsubtext{

}

.callbutton{
    border-style: outset;
    border-color: #F9FAF8;
    color: #F9FAF8;
    padding: 5px;
}

.quotecontainer{
    display: flex;

}

.quotetext {
    display: flex;
    flex-wrap: wrap;
    margin: 48px;
    
}